body {
	background: url(../images/stardust.png);
	text-align: center;
	letter-spacing: 1px;
}
h1 {
	font-size: 60px;
}
#startH4, 
.head {
	color: white;
}

.choices {
	margin-right: 25px;
	margin-left: 25px;
	
}
#scoreState {
	font-size: 30px;
	color: white;
}
i {
	font-size: 25px;
}
#outOfTime {
	font-size: 50px;
}
img {
	width: 750px;
	height: auto;
	align-items: center;
}

